<div class="container p-20">
<h1>Your Question</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="ask">
  <input class= "btn-primary mg-8" type="submit" value="Ask!">
</form>
</div>
